form {
    box-sizing: border-box;
    width: 300px;
    margin: 20px auto 0;
    padding-bottom: 20px;
    border: 1px solid #ccc;
        padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
h1.title{
	margin-top: 100px;
}
input{
	border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 10px 10px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 15px;
}
h1{
	    text-align: center;
    font-size: 23px;

}
h1 img{
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
button{
	    background: #0d9eb5;
    border: none;
    padding: 8px 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}