*{
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a{
	text-decoration: none;
  color: #181818;
}
.container{
	width: 1040px;
	margin: auto;
}
.header1{
  background: #f6f6f6;
  height: 80px;
}
.header .img{
	float: left;
	margin-left: 70px;
	padding: 12px 20px;
}
.header .search{
	float: left;
}
.header .menu {
	float: right;
}

.header .menu ul li{
    list-style: none;
    float: left;
    padding: 29px 21px;
    position: relative;
}
.header .menu ul li a{
	font-weight: 600;
    font-size: 15px;
    color: #181818;
    position: relative;
}
.header .menu ul li a::before{
	content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header .menu ul li a:hover::before{
	 transform: translate(-50%, 0) scaleX(1);
}

.nav-header{
	height: 40px;
	color: white;
	background: #22b573;

}
.nav-header .container {
	height: 40px;
}
.nav-header a{
	color: #fff;
    font-weight: bold;
    padding-top: 9px;
    display: inline-block;
    margin-right: 30px;
    padding-bottom: 9px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

}
.nav-header a:hover{
	background: #0d9191;
}
.nav-header a ul{
	z-index: 1;
	position: absolute;
	top: 120%;
	left: 0;
	background: #22b573;
	min-width: 150px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.nav-header a ul li{
	/*z-index: 1;*/
	list-style: none;
	padding: 5px 15px;
}
.nav-header a:hover ul{
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.body {
	margin-bottom: 50px;
}
.slider{
    margin-top: 15px;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.slider .item{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.8s;
    /*transform: rotate(23deg);*/
}
.slider .item.active{
    /*transform: rotate(0deg);*/
    visibility: visible;
    opacity: 1;
    position: relative;
}
.list{
	margin-top: 15px;
	background-color: #ede0d5;
	font-weight: bold;
	text-align: center;
	height: 22px;
	padding: 23px;

}
.list span{
    display: inline-block;
    border: 1px solid #986464;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 13px;
    text-align: center;
    margin-left: 0;
    font-weight: 2000;
}
.container .box{
    width: 100%;
    margin-top: 50px;
}
.container .box:after{
  content: '';
  display: block;
  clear: both;
}

.container .box .item{
    width: calc((100% - 45px)/4);
    float: left;
    margin-right: 15px;
    /*box-sizing: border-box;
    box-shadow: 2px 2px 2px #dfdfdf;*/
}
.container .box .item:last-child{
   margin-right: 0;
}
.container .box .item .section1{
    padding: 0px 0px;
}
.container .box .item .section2{
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.container .box .item .section1 img:hover{
  box-shadow: 2px 2px 10px gray;
}
.section2 a{
	font-weight: 550;
    margin-bottom: 4px;
    display: block;
}
.section2 a:hover{
	background: #5191fa;
    color: #fff;
    text-decoration: none;
}
.container .box .item .section2 p.price{
    font-weight: bold;
    font-size: 15px;
}
.footer{
    width: 100%;
    background: #dbf9f9;
    border-top: 1px solid #dfdfdf;
    box-shadow: 2px -2px 6px #dfdfdf;
    overflow: hidden;
    padding-bottom: 60px;
}
.footer .item{
    padding-top: 60px;
    float: left;
    width: calc(100%/3);
}
.footer .item h5{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .item p{
    margin-bottom: 5px;
}

.footer .item p.index{
    font-weight: bold;
    font-size: 18px;
}

.footer .item p a:before{
   content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer .item p a{
    color: #181818;
    position: relative;
}
.footer .item p a:hover:before{
    transform: translate(-50%, 0) scaleX(1);
}


/* Card */
.card{
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.card .col-left{
  width: 25%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
}
.card .col-left img{
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px #dfdfdf;
}
.card .col-right{
  box-sizing: border-box;
  width: 72%;
  float: right;
  padding: 15px;
}
.card .col-right .product-title{
  margin-bottom: 20px;
}
.rating{
  margin-bottom: 10px;
}
.product-description{
  margin-bottom: 10px;
}
h4{
  margin-bottom: 10px;
}
.vote{
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
}
.action a{
  background: #0d9eb5;
    border: none;
    padding: 8px 10px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}