*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

a{
	text-decoration: none;
	color: #181818;
}
.header1{
	height: 80px;
	background: #f6f6f6;
}
.header1 img{
	float: left;
	padding: 15px 30px;
	margin-left: 20px;
}
.header1 .search li.get{
	padding: 24px 26px;
	/*margin-right: 100px;*/

}
.header1 .search .search1{
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 5px;
}
.header1 .search .button{
	height: 30px;
	width: 50px;
	border: 1px solid #007bff;
	border-radius: 2px;
	background: #007bff;
	color: #fff;
}
.header1 .search ul{
	float: right;
	list-style: none;
}
.header .search ul li{
	float: left;
	padding: 29px 26px;
}
.header .search ul li a{
	font-weight: 600;
	position: relative;
}
.header .search ul li a::before{
	content: '';
	left: 50%;
	bottom: 0;
	position: absolute;
	background-color: #fc2f70;
	width: 100%;
	height: 2px;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.header .search ul li a:hover::before{
	transform: translate(-50%, 0) scaleX(1);
}
.container{
	width: 1040px;
	margin: auto;
}
.menu{
	height: 40px;
	background: #22b573;
}
.menu .container a{
	color: #fff;
	font-weight: bold;
	float: left;
	padding: 9px 10px;
	position: relative;
	margin-right: 30px;
}
.container ul li{
	color: #fff;
	list-style: none;
	padding: 5px 15px;
}
.menu .container a:hover{
	background: #0d9191;
}
.menu .container a ul{
	z-index: 1;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	min-width: 150px;
	top :120%;
	left: 0;
	background: #22b573;
	transition: all 0.3s;
}
.menu .container a:hover ul{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.body{
	margin-bottom: 60px;
}
.slider {
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.body .slider .item{
	top: 0;
	left: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.8s;
}

.body .slider .active{
	visibility: visible;
	opacity: 1;
	position: relative;
}
.list-product{
	background: #ede0d5;
	text-align: center;
	padding: 23px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.list-product span{
	border: 1px solid #986464;
	border-radius: 5px;
	padding: 5px 16px;
}
.add a{
	font-weight: bold;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 5px;
	display: inline-block;
}
.add a:hover {
	background: black;
	color: white;

}

.container .box{
	margin-top: 50px;
	overflow: hidden;
}
.box .item{
	float: left;
	width: calc((100% - 45px) /4);
	margin-right: 15px;
}
/*.box .item:nth-child(4),
.box .item:nth-child(8),
.box .item:nth-child(12){
	margin-right: 0;
}*/

.box .item:nth-child(4n){
	margin-right: 0;
}
.item .section2 {
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 18px;
}
.item .section2 .description{
	font-size: 15px;
	text-align: justify;
	margin-top: 8px;
}
.section2 .buy-book{
	width: 90px;
	height: 25px;
	border: 1px solid #007bff;
	border-radius: 3px;
	background: #007bff;
	color: #fff;
	margin-top: 8px;
	margin-bottom: 20px;
}
.section2 .delete-book{
	width: 50px;
	height: 25px;
	border: 1px solid #007bff;
	border-radius: 3px;
	background: #007bff;
	color: #fff;
	margin-top: 8px;
	margin-bottom: 20px;
}
.section2 .buy-book:hover{
	box-shadow: 2px 2px 6px #007bff;
}
.item .section1 img:hover{
	box-shadow: 2px 2px 10px gray;
}
.item .section2 a{
	font-weight: 600;
	display: block;
	margin-bottom: 4px;
}
.item .section2 a:hover{
	background: #5191fa;
	color: #fff;
}
.item .section2 .price{
	font-weight:  bold;
	font-size: 13px;
}
.footer{
	background: #dbf9f9;
	border: 1px solid #dfdfdf;
	box-shadow: 2px -2px 6px #dfdfdf;
	padding-bottom: 60px;
	overflow: hidden;
}
.footer .container{
	overflow: hidden;
}
.footer .container .item{
	float: left;
	width: calc(100% / 3);
	padding-top: 50px;
}
.footer .container .item .index{
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;

}
.footer .container .item p {
	margin-bottom: 10px;
}
.footer .container .item p a{
	position: relative;
}
.footer .container .item p a::before{
	content: '';
	position: absolute;
	width: 100%;
	left: 50%;
	bottom: 0;
	height: 2px;
	background-color: #fc2f70;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.footer .container .item p a:hover::before{
	transform: translate(-50%, 0) scaleX(1);
	
}
.cotainer{
	overflow: hidden;
}
.card{
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 60px;
}
.card .col-left{
	float: left;
	width: 25%;
	padding: 20px 20px;
	box-sizing: border-box;
}
.card .col-right{
	float: right;
	width: 70%;
	padding: 15px;

}
.col-right .title-product{
	margin-bottom: 20px;
}
.col-right p{
	margin-bottom: 10px;
}
.action{
	color: white;
	background: #0d9eb5;
	border: none;
	padding: 8px 10px;
	border-radius: 3px;
	margin-top: 15px;
	display: inline-block;
}
.category{
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.category .books{
	margin: 50px 490px;
	display: inline-block;
}
.category .books a{
	border: 1px solid black;
	border-radius: 3px;
	
	padding: 8px 20px;
	font-weight: bold;
	display: inline-block;
	overflow: hidden;
}
.category .books a:hover{
	box-shadow: 2px 2px 6px #ccc;
}
.category .item{
	float: left;
	width: calc(100% / 3);
}
.category .item .index{
	font-weight:  bold;
	font-size: 20px;
}
.category .item ul li a{
	font-weight: 600;

}
.category .item ul li a:hover{
	color: #0000bf;
}
#btn{
	background: #aaffff;
	border-radius: 3px;
	padding: 8px 15px;

}