*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

a{
	text-decoration: none;
	color: #181818;
}
.header1{
	height: 80px;
	background: #f6f6f6;
}
.header1 img{
	float: left;
	padding: 15px 30px;
	margin-left: 20px;
}
.header1 .search li.get{
	padding: 24px 26px;
	/*margin-right: 100px;*/

}
.header1 .search .search1{
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 5px;
}
.header1 .search .button{
	height: 30px;
	width: 50px;
	border: 1px solid #007bff;
	border-radius: 2px;
	background: #007bff;
	color: #fff;
}
.header1 .search ul{
	float: right;
	list-style: none;
}
.header .search ul li{
	float: left;
	padding: 29px 26px;
}
.header .search ul li a{
	font-weight: 600;
	position: relative;
}
.login form{
	box-sizing: border-box;
	margin: 70px auto 0;
	width: 350px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px 15px;
	margin-bottom: 100px;
}
.login h1.title{
	text-align: center;
}
.login form input{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 14px 10px;
	margin-bottom: 20px;
}
.login button{
	border: 1px solid #ccc;
	border-radius: 3px;
	background:  #0d9eb5; 
	padding: 10px 12px;
	border: none;
	color: #fff;
}
.header-signin{
	background: #f6f6f6;
	border: 1px solid #ccc;
	height: 50px;
	text-align: center;
	margin-bottom: 30px;
}
.header-signin p{
	padding: 15px 10px;
	font-weight: 600;
}