.login form{
	box-sizing: border-box;
	margin: 20px auto 0;
	width: 400px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px 15px;
}
.login h2.title{
	text-align: center;
	/*margin-top: 100px;*/
}
.login form input{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 14px 10px;
	margin-bottom: 20px;
}
.login button{
	border: 1px solid #ccc;
	border-radius: 3px;
	background:  #0d9eb5; 
	padding: 10px 12px;
	border: none;
	color: #fff;
}