*{
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
a{
	text-decoration: none;
    color: #181818;
}
/*body{
    background-color: #dfdfdf;
}*/
.container{

    width: 1010px;
    margin: auto;

}
.header1{
    background: #f6f6f6;
    height: 80px;
}
.header .img{
	float: left;
	margin-left: 70px;
	padding: 2px 20px;
}
.header .search{
	float: left;
}
.header .menu {
	float: right;
}

.header .menu ul li{
    list-style: none;
    float: left;
    padding: 29px 21px;
    position: relative;
}
.header .menu ul li a{
    font-size: 15px;
    color: #181818;
    position: relative;
}
.header .menu ul li a:after{
    content: '';
    width: 0;
    position: absolute;
    bottom: -2px;
    height: 1px;
    left: 0;
    background-color: #181818;
    transition: all 0.3s;
}
.header .menu ul li a:hover:after{
    width: 100%;
}
.header .menu ul{
	padding-left: 10px;
}
.header .menu ul li img{
    width: 18px;
    position: relative;
    top: 3px;
}
.header .service{
    box-sizing: border-box;
    padding: 0 30px; 
    background: #fff;
    width: 100%;
    position: relative;
}
.header .service:after{
    content: '';
    display: block;
    clear: both;
}

.header .service ul li{
    list-style: none;
    float: left;
    padding: 10px 0;
    margin-right: 100px;
    position: relative;
}
.header .service ul li:first-child{
    margin-right: 300px;
    padding: 8px 0;
}
.header .service ul li a{
    font-size: 14px;
    color: #181818;
    position: relative;
}
.header .service ul li a span{
    background: #181818;
    padding: 1px 7px;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.header .service ul li a:after{
    content: '';
    width: 0;
    position: absolute;
    bottom: -2px;
    height: 1px;
    left: 0;
    background-color: #181818;
    transition: all 0.3s;
}
.header .service ul li a:hover:after{
    width: 100%;
}
.header .service ul li ul.sub-menu{
    font-weight: 600;
    z-index: 1;
    position: absolute;
    width: 200px;
    background: #fff;
    border: 1px solid #dfdfdf;
    left:0;
    top: 100%;
    display: none;
}
.header .service a ul{
	transition: all 0.3s;
}
.header .service ul li ul.sub-menu li{
    padding: 10px 0px;
    border-bottom: 1px dashed #dfdfdf;
    display: block;
    width: 100%;
}
.header .service ul li:hover ul.sub-menu{
    display: block;    
}

.header .service ul li.has-submenu-full{
    position: unset;
}
.header .service ul li .sub-menu.full{
    z-index: 1;
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    left:0;
    top: 100%;
    display: none;
}
.header .service ul li .sub-menu.full .container-sub{
    width: 940px;
    margin: auto;
}
.header .service ul li .sub-menu.full .container-sub .col{
    width: 50%;
    float: left;
}
.header .service ul li .sub-menu.full .container-sub .col ul{
    margin-top: 10px;
}
.header .service ul li .sub-menu.full .container-sub .col ul li{
    width: 100%;
    margin: 0;
    padding: 7px 0;
}
.header .service ul li .sub-menu.full .container-sub .col img{
    width: 250px;
    margin: 15px;
}
.header .service ul li .sub-menu.full .container-sub .col ul li a{
    font-weight: 600;
}
.header .service ul li.has-submenu-full:hover .sub-menu.full{
    display: block;
}
.body {
    background: white;
}

.body-hd {
    width: 100%;
    background: #f6f6f6;
    height: 50px;
}
.body-hd p.item1{
    padding: 15px 30px;
    position: relative;
}
.body-hd span.item2{
    font-weight: bold;
}
.body-hd2 .image{
    width: 100%;
}

.product h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
div.box{
    overflow: hidden;
}
.product.box{
   /* overflow: hidden;*/
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.product .box .item{
    width: calc((100% - 50px)/3);
    float: left;
    margin-right: 25px;
    /*box-sizing: border-box;
    box-shadow: 2px 2px 2px #dfdfdf;*/
}
.product .box .item:last-child{
   margin-right: 0;
}
.product .box .item .section1{
    padding: 0px;
}
.product .box .item .section2{
    padding: 20px;
    text-align: center;
}
.product .box .item .section2 p.price{
    font-weight: bold;
}
.container .blog{
    
}
.container .blog .news{
    height: 60px;
    color: black;
    padding-top: 50px;
}
.container .blog .news span{
    display: inline-block;
    border: 1px solid #986464;
    border-radius: 5px;
    padding: 4px 15px;
    font-size: 13px;
    text-align: center;
    margin-left: 118px;
    font-weight: 600;
}
.blog .news .event span:hover{
    background: black;
}
.blog .news .event span:hover a{
    color: white;
}

.slider{
    margin-top: 20px;
    width: 830px;
    margin: auto;
    border: 3px solid green;
    position: relative;
    overflow: hidden;
    float: left;
}
.slider .item{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left:0;
    transition: all 0.8s;
    /*transform: rotate(23deg);*/
}
.slider .item.active{
    /*transform: rotate(0deg);*/
    visibility: visible;
    opacity: 1;
    position: relative;
}

.item .section1{
    position: relative;
    line-height: 0;
}
.item .section1 .img1{
    position: relative;
    transition: all 0.7s;
}
.item .section1 .img2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s;
}
.item .section1:hover .img1{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.item .section1:hover .img2{
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
}
.next-slider{
    overflow: hidden;
    width: 900px;
    margin: auto;


}
.next-slider .action{
    float: left;
}

.footer{
    width: 100%;
    background: white;
    border-top: 1px solid #dfdfdf;
    box-shadow: 2px -2px 6px #dfdfdf;
    overflow: hidden;
    padding-bottom: 60px;
}
.footer .item{
    padding-top: 60px;
    float: left;
    width: 25%;
}
.footer .item h5{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer .item p{
    margin-bottom: 5px;
}
.footer .item:first-child{
    padding-left: 60px;
}
.footer .item p.index{
    font-weight: bold;
    font-size: 18px;
}

.footer .item p a:after{
    content: '';
    width: 0;
    position: absolute;
    bottom: -2px;
    height: 1px;
    left: 0;
    background-color: #181818;
    transition: all 0.3s;
}
.footer .item p a{
    color: #181818;
    position: relative;
}
.footer .item p a:hover:after{
    width: 100%;
}