*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

a{
	text-decoration: none;
	color: #181818;
}
.header1{
	height: 80px;
	background: #f6f6f6;
}
.header1 img{
	float: left;
	padding: 15px 30px;
	margin-left: 20px;
}
.header1 .search li.get{
	padding: 24px 26px;
	/*margin-right: 100px;*/

}
.header1 .search .search1{
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 5px;
}
.header1 .search .button{
	height: 30px;
	width: 50px;
	border: 1px solid #007bff;
	border-radius: 2px;
	background: #007bff;
	color: #fff;
}
.header1 .search ul{
	float: right;
	list-style: none;
}
.header .search ul li{
	float: left;
	padding: 29px 26px;
}
.header .search ul li a{
	font-weight: 600;
	position: relative;
}
.header .search ul li a::before{
	content: '';
	left: 50%;
	bottom: 0;
	position: absolute;
	background-color: #fc2f70;
	width: 100%;
	height: 2px;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.header .search ul li a:hover::before{
	transform: translate(-50%, 0) scaleX(1);
}
.container{
	width: 1040px;
	margin: auto;
}
.nav-header{
	height: 40px;
	color: white;
	background: #22b573;

}
.nav-header .container {
	height: 40px;
}
.nav-header li{
  font-weight: 600;
  padding-top: 9px;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 9px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

}
.nav-header li a{
  color: #fff;
}
.nav-header li.nav:hover{
	background: #0d9191;
}
.nav-header ul li ul.sub-menu {
	z-index: 1;
	position: absolute;
	top: 120;
	left: 0;
	background: #22b573;
	min-width: 150px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.nav-header ul li ul.sub-menu li{
	list-style: none;
	padding: 5px 15px;
  margin: 0;
}
.nav-header ul li:hover ul{
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.body{
	margin-bottom: 60px;
}
.slider {
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.body .slider .item{
	top: 0;
	left: 0;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.8s;
}

.body .slider .active{
	visibility: visible;
	opacity: 1;
	position: relative;
}
.list-product{
	background: #ede0d5;
	text-align: center;
	padding: 23px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}
.list-product span{
	border: 1px solid #986464;
	border-radius: 5px;
	padding: 5px 16px;
}
.add a{
	font-weight: bold;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 5px;
	display: inline-block;
}
.add a:hover {
	background: black;
	color: white;

}

.container .box{
	margin-top: 50px;
	overflow: hidden;
}
.box .item{
	float: left;
	width: calc((100% - 45px) /4);
	margin-right: 15px;
}
/*.box .item:nth-child(4),
.box .item:nth-child(8),
.box .item:nth-child(12){
	margin-right: 0;
}*/

.box .item:nth-child(4n){
	margin-right: 0;
}
.item .section2 {
	padding: 10px 15px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 18px;
}
.item .section2 .description{
	font-size: 15px;
	text-align: justify;
	margin-top: 8px;
}
.section2 .buy-book{
	width: 90px;
	height: 25px;
	border: 1px solid #007bff;
	border-radius: 3px;
	background: #007bff;
	color: #fff;
	margin-top: 8px;
	margin-bottom: 20px;
}
.section2 .delete-book{
	width: 50px;
	height: 25px;
	border: 1px solid #007bff;
	border-radius: 3px;
	background: #007bff;
	color: #fff;
	margin-top: 8px;
	margin-bottom: 20px;
}
/*.section2 .buy-book:hover{
	box-shadow: 2px 2px 6px #007bff;
}*/
.item .section1 img:hover{
	box-shadow: 2px 2px 10px gray;
}
.item .section2 a{
	font-weight: 600;
	display: block;
	margin-bottom: 4px;
}
.item .section2 a:hover{
	background: #5191fa;
	color: #fff;
}
.item .section2 .price{
	font-weight:  bold;
	font-size: 13px;
}
.footer{
	background: #dbf9f9;
	border: 1px solid #dfdfdf;
	box-shadow: 2px -2px 6px #dfdfdf;
	padding-bottom: 60px;
	overflow: hidden;
}
.footer .container{
	overflow: hidden;
}
.footer .container .item{
	float: left;
	width: calc(100% / 3);
	padding-top: 50px;
}
.footer .container .item .index{
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;

}
.footer .container .item p {
	margin-bottom: 10px;
}
.footer .container .item p a{
	position: relative;
}
.footer .container .item p a::before{
	content: '';
	position: absolute;
	width: 100%;
	left: 50%;
	bottom: 0;
	height: 2px;
	background-color: #fc2f70;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.3s ease-in-out;
}
.footer .container .item p a:hover::before{
	transform: translate(-50%, 0) scaleX(1);
	
}
.cotainer{
	overflow: hidden;
}
.card{
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 60px;
}
.card .col-left{
	float: left;
	width: 25%;
	padding: 20px 20px;
	box-sizing: border-box;
}
.card .col-right{
	float: right;
	width: 70%;
	padding: 15px;

}
.col-right .title-product{
	margin-bottom: 20px;
}
.col-right p{
	margin-bottom: 10px;
}
.action{
	color: white;
	background: #0d9eb5;
	border: none;
	padding: 8px 10px;
	border-radius: 3px;
	margin-top: 15px;
	display: inline-block;
}
.category{
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.category .books{
	margin: 50px 490px;
	display: inline-block;
}
.category .books a{
	border: 1px solid black;
	border-radius: 3px;
	
	padding: 8px 20px;
	font-weight: bold;
	display: inline-block;
	overflow: hidden;
}
.category .books a:hover{
	box-shadow: 2px 2px 6px #ccc;
}
.category .item{
	float: left;
	width: calc(100% / 3);
}
.category .item .index{
	font-weight:  bold;
	font-size: 20px;
}
.category .item ul li a{
	font-weight: 600;

}
.category .item ul li a:hover{
	color: #0000bf;
}
#btn{
	background: #aaffff;
	border-radius: 3px;
	padding: 8px 15px;

}
.content{
	overflow: hidden;
	position: relative;
}
.content .recruitment-left{
   width: 70%;
   float: left;
}
.content .recruitment-right{
	width: 30%;
   float: right;	
   padding-left: 30px;
   box-sizing: border-box;
}
.content .recruitment-right img{
	max-width: 100%;
	margin-bottom: 25px;
}

.content .recruitment-right img:hover{
	box-shadow: 2px 5px 10px #dfdfdf;
}
.content .recruitment{
	margin-bottom: 50px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	width: 100%;
}
.recruitment .col-left{
	float: left;
	
	width: 20%;
	padding: 10px 10px;
	box-sizing: border-box;
}
.recruitment .col-left img:hover{
	box-shadow: 2px 2px 6px #dfdfdf;
}
.recruitment .col-right{
	float: right;
	width: 80%;
	padding: 15px;
	box-sizing: border-box;
}
.col-right .title{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}
.col-right .introduce{
	margin-bottom: 10px;
}
.col-right .Salary a{
	font-weight: 600;
	color: #0000bf;
	margin-bottom: 10px;
}
.content .list {
	border: 1px solid #dfdfdf;
}

.content .list h3{
	background: #22b573;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    padding: 7px;
}
.content .list .list1{
	background: #fff;
	max-height: 200px;
	overflow-y: auto;
	padding: 10px 20px;
}
.content .list .list1 ul li a:hover{
	color: #ff7f00;
}
.content .list ul{
	padding: 0;
	margin: 0;
	margin-left: 20px;
}
.content .list ul li{
	list-style: circle;
}
.content .list ul li a{
	padding: 7px 0;
	display: block;
}
.introduce h3{
	text-align: center;
	color: #0000ff;
	margin-bottom: 25px;
}
.introduce p{
	line-height: 30px;
	margin-bottom: 50px;
}
.contact-book{
	overflow: hidden;
}
form.contact{
	width: 40%;
	float: left;
}
.contact-book form input{
	padding: 0px 10px;
	width: 100%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
}
form input.nd{
	height: 150px;
	line-height: 5px;
}
form input.sb{
	width: 60px;
	background: #007bff;
	color: #fff;
}
.right-contact{
	width: 45%;
	float: right;
	margin-left: 100px;
}
.right-contact p{
	margin-bottom: 10px;
	font-weight: 600;
}
.right-contact .tt{
	font-weight: bold;
	font-size: 20px;
	color: #0018d3;
}
.col-right button.buy-book{
	background : #007bff;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #007bff;
	border-radius: 2px;
}
button.update{
	background: #007bff;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #007bff;
	border-radius: 3px;
}
.category form label{
	font-weight: 600;
	font-size: 20px;
	color: #0000bf;
}
.category{
	width: 500px;
	margin:auto;
}
.category input.name-category{
	width: 200px; 
	height: 20px;
	border: 1px solid #4a8b91;
	border-radius: 3px;
	padding: 8px 8px;
}
.category input.sb-category{
	background: #007bff;
	border: 1px solid #007bff;
	border-radius: 3px;
	padding: 8px 10px;
	color: #fff;
	transition: color .15s;
	font-size: 1rem;
}
.delete-category{
	background : #dc3545;
	border: 1px solid #dc3545;
	border-radius: 3px;
	padding: 5px 8px;
	color: #fff;
	transition: color .15s;
	font-size: 1rem;

}
.delete-category a{
	color: #fff;
}
/*.update-category{
	background: #138496;
	border: 1px solid #138496;
	border-radius: 3px;
	padding: 8px 10px;
	color: #fff;
	transition: color .15s;
	font-size: 1rem;
}*/